@import '../../styles/mixins';

.esqueleto-menu {


}

.dropdown.nav-item .nav-link {
      color: white;
}

.dropdown.nav-item .nav-link:hover,.dropdown.nav-item.show  .nav-link {
      color: #0056b3;
}

.dropdown-menu.dropdown-menu-right a.nav-link
{
      color: rgba(0,0,0,.7);
  
}
.dropdown-menu.dropdown-menu-right a.nav-link:hover
{
      color: white;
  
}
.dropdown-menu.dropdown-menu-right button.dropdown-item:hover
{
      background-color: rgba(0,0,0,.7);
  
}


