@import '../../styles/mixins';

.esqueleto-menu {


}

.avatar {
    width: 50px;
    height: 50px;
    display: inline-block;;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


button>li.nav-item>a.nav-link
{
  color: #094684!important;
}

button>li.nav-item>a.nav-link:hover
{
  color: #439be6 !important;
}


.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,.95);
}

.dropdown-item:active {
    background-color: #f8fdff;
}