@import '../../styles/mixins';

.esqueleto-tabla {
  padding:10px;
}

.espacio_abajo
{
  margin-bottom: 10px;
}

.titulo_tabla {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 15px;
    background-color: dimgrey;
    color: white;
}

table.table.table-striped.table-hover.table-bordered.table-responsive thead>tr>th.sortable
{
  width: 100%;
}
