@import '../../styles/mixins';

.presupuestos-form-presupuestos {

}

.presupuestos-form-presupuestos .titulo_sesion {
    text-align: left;
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 22px;
    margin-top: 15px;
    background-color: dimgrey;
    color: white;
}

.presupuestos-form-presupuestos .comisionista {
    font-size: 10px;
    font-weight: bold;
}

.presupuestos-form-presupuestos .scroll {

position: relative;
    overflow: auto;
    height: 250px;
    width: 100%;
}
    